ul, li {
    margin: 0;
    padding: 0;
}
.wrapper-content .title {
    height: 80px;
    align-items: center;
}
.wrapper-content .title div:first-child p {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.wrapper-content .title ul li {
    list-style: none;
    position: relative;
}
.wrapper-content .title ul li a {
    list-style: none;
    text-decoration: none;
    color: #333333;
}
.wrapper-content .title ul li.active a{
    color: #000;
    font-weight: 700;
}
.wrapper-content .title ul li a:hover {
    text-decoration: none;
}
.wrapper-content .title ul li:not(:last-child)::after {
    content: '>';
    color: #333333;
    padding: 0 10px;
}
.product-main-info .row > div {
    width: 100%;
}
.product-main-info .main-image {
    width: 100%;
}
.product-main-info .main-image img{
    width: 100%;
}
.product-main-info .other-image {
    width: 100%;
}

.product-main-info .other-image ul {
    width: 100%;
}
.product-main-info .other-image ul li a{
    width: 100%;
}
.product-main-info .other-image ul li a img{
    width: 100%;
}

.input-group {
    width: 170px;
}
.categories-list {
    width: 100%;
}
.categories-list > span:first-child {
    text-align: left;
}
.categories-list > span:last-child {
    text-align: right;
}
.cart button.add:hover {
    background-color:#fff;
    color: #000;
    border: 1px solid #7fa15a;
}
.cart button.add {
    width: 200px;
    height: 64px;
    background-color: #7fa15a;
    color: #fff;
    font-size: 18px;
}
.cart button.wishlist:hover {
    background-color: #7fa15a;
    color: #fff;
}
.cart button.wishlist {
    width: 64px;
    height: 64px;
    font-size: 18px;
    border: 1px solid #7fa15a;
}
.more-info {
    height: 100px;
}
.more-product-information .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    font-size: 20px;
    opacity: 0.7;
}
.more-product-information .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: unset;
    border-color: transparent;
    opacity: 1;
    color: #000;
}
.more-product-information .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:active,
.more-product-information .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
    background-color: unset;
    border-color: transparent;
}

.wrapper-content__primary__product__list .product {
    padding-bottom: 50px;
}
.wrapper-content__primary__product__list .product-image {
    position: relative;
    margin-bottom: 20px;
}
.wrapper-content__primary__product__list .product-info {
    text-align: center;
}
.wrapper-content__primary__product__list .product-info .product-name{
    font-size: 17px;
}
.wrapper-content__primary__product__list .product-info span {
    font-weight: 700;
}
.wrapper-content__primary__product__list .product-info del span{
    font-size: 16px;
    color: #ababab;
    margin-right: 5px;
    opacity: 1;
    font-weight: 500;
}
.wrapper-content__primary__product__list .product-image .product-flash-wrap {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}
.wrapper-content__primary__product__list .product-image:hover .product-action {
    visibility: visible;
    opacity: 1;
}
.wrapper-content__primary__product__list .product-image .product-action {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
.wrapper-content__primary__product__list .product-image .product-action > div{
    width: 50px;
    background-color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
    transition: all 0.5s ease;
}
.wrapper-content__primary__product__list .product-image .product-action > div:hover{
    background-color: #333333;
    color: #fff;
}

.wrapper-content__primary__product__list .product-thumb {
    width: 100%;
}
.wrapper-content__primary__product__list .product-flash {
    width: 44px;
    height: 44px;
    background-color: #f0524b;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper-content__primary__product__list .on-featured {
    background-color: #f5cc63;
    margin-top: 5px;
}
.wrapper-content__primary__product__list .product-thumb img{
    width: 100%;
}