body {
    font-family: 'Pontano Sans', sans-serif;
}
.main-header {
    width: 100%;
}
.main-header .top-bar {
    height: 50px;
    background-color: #7fa159;
    color: #fff;
}
.main-header .top-bar__row {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100%;
    align-items: center;
}
.main-header .top-bar__row__right {
    justify-self: flex-end;
}
.main-header .top-bar__row__right div:not(:last-child), .main-header .top-bar__row__left span:not(:last-child) {
    padding-right: 25px;
}
.header-sticky-wrapper {
    height: 150px;
    background-color: #f6f6f6;
}
.fixed-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    height: 85px;
}  
.header-sticky-wrapper__row {
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
}
.header-sticky-wrapper__row__logo {
    width: 170px;
}
.header-sticky-wrapper__row__logo img{
    width: 100%;
}
.header-sticky-wrapper__primary-menu__inner {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 100px;
}
.header-sticky-wrapper__primary-menu__inner__left {
    justify-content: space-between;
    margin: 0px 60px;
}
.header-sticky-wrapper__primary-menu__inner ul {
    margin-bottom: 0;
    padding: 0;
}
.header-sticky-wrapper__primary-menu__inner ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
/* display: inline; */
}
.header-sticky-wrapper__primary-menu__inner__right li a {
    color: #000;
}
.header-sticky-wrapper__primary-menu__inner__right li.wishlist, 
.header-sticky-wrapper__primary-menu__inner__right li.cart {
    position: relative;
}
.header-sticky-wrapper__primary-menu__inner__right li.wishlist span, 
.header-sticky-wrapper__primary-menu__inner__right li.cart span{
    position: absolute;
    margin: auto;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    font-weight: 700;
    border-radius: 50%;
    background-color: #7fa15a;
    color: #fff;
    top: -13px;
    right: -13px;
}

footer {
    background-color: #f6f6f6;
}
footer div p.title {
    color: #7fa15a;
    font-size: 20px;
    font-weight: bold;
}